*{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height: 100%;
}

/*COMMON*/
/*HEADER*/
header{
	position: fixed;
	width: 50px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: blue;
	z-index: 100;
	text-align: center;
	transition: .3s linear;
	nav{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		ul{
			width: 100%;
			li{
				color: red;
				text-decoration: none;
				list-style: none;
				padding: 10px 0;
				a{
					color: red;
				}
				img{
					width: 100%;
					transition: .3s linear;
				}
			}
		}
	}
	span{
		font-size: 0px;
		transition: .3s linear;
	}
	i{
		transition: .3s linear;
	}
	&:hover{
		width: 200px;
		span{
			font-size: 25px;
		}
		i{
			font-size: 30px;
		}
	}
}
/*FOOTER*/

/*INDEX*/
section{
	margin: 0 0px 0 51px;
	h2{
		text-align: center;
	}
}
#index{
	#background_video{
		width: 100%;
		height: 400px;
		background: orange;
		overflow: hidden;
		position: relative;
		.video_txt{
			div{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: 1s linear;
				p{
					color: #fff;
					text-shadow: 0px 0px 10px #000;
					font-size: 50px;
				}
				&.video_txt_1{}
				&.video_txt_2{}
				&.video_txt_3{}
				&.active{
					opacity: 1;
				}
			}
		}
	}
	#historia{
		position: relative;
		height: 410px;
		padding-top: 30px;
		color: #fff;
		background-image: url(../images/bg_history.jpeg);
		background-attachment: fixed;
		text-shadow: 0 0 10px #000;
		h3{
			font-size: 30px;
			text-align: center;
			height: 40px;
		}
		.linea{
			width: 2px;
			height: 250px;
			background-color: #ccc;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.circulos{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			left: 50%;
			transform: translateX(-50%);
		}
		.circulos, .textos{
			position: absolute;
		}
		.ciculo_1{
			background-color: red;
			top: 70px;
		}
		.ciculo_2{
			background-color: green;
			top: 195px;
		}
		.ciculo_3{
			background-color: blue;
			top: 320px;
		}
		.textos{
			width: 250px;
			text-align: center;
			left: 50%;
			&.left{
    			transform: translateX(-290px);
			}
			&.right{
    			transform: translateX(40px);
			}
			h4{
				font-size: 17px;
			}
			p{
				font-size: 12px;
			}
		}
		.texto_1{
			top: 70px;
		}
		.texto_2{
			top: 195px;
		}
		.texto_3{
			top: 320px;
		}
	}
	#antecedentes{
		h3{
			padding-top: 30px;
			font-size: 30px;
			text-align: center;
		}
		p{}
	}
}
#nosotros{
	position: relative;
	height: 100%;
	background: green;
	h2{}
	.select_cont{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 425px;
		transition: .3s linear;
		div{
			width: 200px;
			height: 250px;
			margin: 5px;
			display: inline-block;
			background-color: blue;
			transition: .3s linear;
			&.filosofia_selector{}
			&.valores_selector{}
			&.mision_selector{}
			&.vision_selector{}
		}
		&.selected{
			width: 125px;
			div{
				width: 50px;
				height: 62px;
			}
		}
		&.selected_1{
			left: 21%;
			top: 16%;
			.vision_selector{ 
				opacity: 0; 
			}
		}
		&.selected_2{
			left: 79%;
			top: 16%;
			.mision_selector{ 
				opacity: 0;  
			}
		}
		&.selected_3{
			left: 21%;
			top: 85%;
			.valores_selector{ 
				opacity: 0; 
			}
		}
		&.selected_4{
			left: 79%;
			top: 85%;
			.filosofia_selector{
				opacity: 0; 
			}
		}
	}
	.text_container{
		width: 56%;
		overflow: hidden;
		height: 66%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		overflow-y: scroll;
		h3{
			text-align: center;
		}
		p{
			text-align: justify;
			img{
				float: right;
				width: 200px;
				height: 250px;
			}
		}
	}
}
#servicios{
	h2{}
	.consultoria_text{
		text-align: left;
		h3{}
		p{
			text-align: justify;
			img{
				float: right;
				width: 200px;
				height: 250px;
			}
		}
	}
	.outsoursing_text{
		text-align: right;
		h3{}
		p{
			text-align: justify;
			img{
				float: left;
				width: 200px;
				height: 250px;
			}
		}
	}
	.comercializadora_text{
		text-align: left;
		h3{}
		p{
			text-align: justify;
			img{
				float: right;
				width: 200px;
				height: 250px;
			}
		}
	}
}
#contacto{
	h2{}
	form{
		text-align: center;
		label{}
		input{
			&.contact_name{}
			&.contact_email{}
			&.contact_asunto{}
			&.contact_submit{}
		}
		textarea{}
	}
}