/* line 1, sass/style.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 5, sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/*COMMON*/
/*HEADER*/
/* line 12, sass/style.scss */
header {
  position: fixed;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: blue;
  z-index: 100;
  text-align: center;
  transition: .3s linear;
}
/* line 22, sass/style.scss */
header nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
/* line 28, sass/style.scss */
header nav ul {
  width: 100%;
}
/* line 30, sass/style.scss */
header nav ul li {
  color: red;
  text-decoration: none;
  list-style: none;
  padding: 10px 0;
}
/* line 35, sass/style.scss */
header nav ul li img {
  width: 100%;
  transition: .3s linear;
}
/* line 42, sass/style.scss */
header span {
  font-size: 0px;
  transition: .3s linear;
}
/* line 46, sass/style.scss */
header i {
  transition: .3s linear;
}
/* line 49, sass/style.scss */
header:hover {
  width: 200px;
}
/* line 51, sass/style.scss */
header:hover span {
  font-size: 25px;
}
/* line 54, sass/style.scss */
header:hover i {
  font-size: 30px;
}

/*FOOTER*/
/*INDEX*/
/* line 62, sass/style.scss */
#index {
  margin: 0 0px 0 51px;
}
/* line 64, sass/style.scss */
#index #background_video {
  width: 100%;
  height: 400px;
  background: orange;
  overflow: hidden;
  position: relative;
}
/* line 71, sass/style.scss */
#index #background_video .video_txt div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s linear;
}
/* line 78, sass/style.scss */
#index #background_video .video_txt div p {
  color: #fff;
  text-shadow: 0px 0px 10px #000;
  font-size: 50px;
}
/* line 86, sass/style.scss */
#index #background_video .video_txt div.active {
  opacity: 1;
}
/* line 92, sass/style.scss */
#index #historia {
  position: relative;
  height: 380px;
  margin-top: 30px;
}
/* line 96, sass/style.scss */
#index #historia h3 {
  font-size: 30px;
  text-align: center;
  height: 40px;
}
/* line 101, sass/style.scss */
#index #historia .linea {
  width: 2px;
  height: 250px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 110, sass/style.scss */
#index #historia .circulos {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
/* line 117, sass/style.scss */
#index #historia .circulos, #index #historia .textos {
  position: absolute;
}
/* line 120, sass/style.scss */
#index #historia .ciculo_1 {
  background-color: red;
  top: 40px;
}
/* line 124, sass/style.scss */
#index #historia .ciculo_2 {
  background-color: green;
  top: 165px;
}
/* line 128, sass/style.scss */
#index #historia .ciculo_3 {
  background-color: blue;
  top: 290px;
}
/* line 132, sass/style.scss */
#index #historia .textos {
  width: 250px;
  text-align: center;
  left: 50%;
}
/* line 136, sass/style.scss */
#index #historia .textos.left {
  transform: translateX(-290px);
}
/* line 139, sass/style.scss */
#index #historia .textos.right {
  transform: translateX(40px);
}
/* line 142, sass/style.scss */
#index #historia .textos h4 {
  font-size: 17px;
}
/* line 145, sass/style.scss */
#index #historia .textos p {
  font-size: 12px;
}
/* line 149, sass/style.scss */
#index #historia .texto_1 {
  top: 40px;
}
/* line 152, sass/style.scss */
#index #historia .texto_2 {
  top: 165px;
}
/* line 155, sass/style.scss */
#index #historia .texto_3 {
  top: 290px;
}

/* line 161, sass/style.scss */
#nosotros #mision_vision {
  clear: both;
  text-align: center;
}
/* line 164, sass/style.scss */
#nosotros #mision_vision .mision_txt {
  display: inline-block;
  width: 70%;
  text-align: center;
}
/* line 170, sass/style.scss */
#nosotros #mision_vision .mision_img {
  display: inline-block;
  width: 10%;
  height: 100px;
  background-color: #ccc;
  margin: 0 2%;
}
/* line 177, sass/style.scss */
#nosotros #mision_vision .vision_img {
  display: inline-block;
  width: 10%;
  height: 100px;
  background-color: #ccc;
  margin: 0 2%;
}
/* line 184, sass/style.scss */
#nosotros #mision_vision .vision_txt {
  display: none;
}
